.header {
    display: flex;
    background-color: #F8FFE5;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90vw;
    margin: auto;
  }
    .pointer {
      width: 200px;
      height: 40px;
      position: relative;
      margin-right: 30px;
      background: #1B9AAA;
      text-align: center;
      vertical-align: middle;
      line-height: 35px;
    }
    .pointer:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #F8FFE5;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    .pointer:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #1B9AAA;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
   .pointer-first {
      width: 200px;
      height: 40px;
      position: relative;
      margin-right: 30px;
      background: #1B9AAA;
      text-align: center;
      vertical-align: middle;
      line-height: 35px;
    }
    .pointer-first:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #1B9AAA;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
  
  .pointer-last {
      width: 200px;
      height: 40px;
      position: relative;
      background: #1B9AAA;
      text-align: center;
      vertical-align: middle;
      line-height: 35px;
    }
    .pointer-last:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid #F8FFE5;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }