<div class="main-focus">
  <div class="patient">
    <div class="patient-info">
      {{(selectedPatient$ | async).name}} {{(selectedPatient$ | async).age}} {{(selectedPatient$ | async).sex}}
    </div>
    <div class="patient-conditions">CONDITIONS</div>
  </div>
  <div class="loader">Loading...</div>
  <ul>
    <li *ngFor="let p of (providerList$ | async)" (click)="selectP(p)">
      <span>{{p.name}}</span>
      <span>{{p.valueId}}</span>
      <span>{{p.specialty}}</span>
    </li>
  </ul>
</div>
