.main-focus {
    display: flex;
    width: 80vw;
}

div {
    flex: 1 1 0;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
    text-align: left;
}

.patient {
    display: flex;
    flex-direction: column;
}

.patient-info {
    flex-basis: 2em;
    flex-grow: 0;
}

.patient-conditions {
    flex-grow: 0;
}

